.App {
  text-align: center;
  font-family: "Futura";
}

.App-header {
  background-color: #152038;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ecefee;
}

.App-block {
  border: solid 1px #ecefee;
  border-radius: 10px;
  background-color: #ecefee;
  color: black;
  margin: 5%;
  padding: 10%;
  width: 90% !important;
}

.App-title {
  text-align: center;
}

.App-profil {
  margin: auto;
  width: auto;
  width: 100px !important;
  height: 100px !important;
}

.App-download {
  margin-top: 10% !important;
  font-family: "Futura" !important;
  background-color: #152038 !important;
}

.Block {
  background-color: #152038;
  color: white;
  border-radius: 10px;
}

.App-IT {
  width: 90% !important;
}

.App-ico {
  margin-right: 3%;
}

.App-ico-lang {
  margin-left: 3%;
}

.App-copy {
  padding: unset !important;
}